
* {
    box-sizing: border-box;
}

html, body {
    padding-top: 1000px;
    background-color: #FAF9F6;
}
p{
    color: green;
}

.funkified {
    text-align: right;
    font-weight: bold;
    color: purple;
}